.idea/*
TransactionApi.Web/obj/*
TransactionApi.Web/bin/*

TransactionApi.Service/obj/*
TransactionApi.Service/bin/*

TransactionApi.Model/obj/*
TransactionApi.Model/bin/*

TransactionApi.Test/obj/*
TransactionApi.Test/bin/*

/.vs
appsettings.*.json